/* UseEffectApi.css */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.images img {
  /* Add your image styling here */
}

.textLeft {
  /* Add your text styling here */
}



.text-white {
  color: black;

}

.stats {
  /* Add your stats container styling here */
}
h2{
  font-size: 2rem;
  margin-left: 410px;
  color: white;
  margin-top: -21px;
}
