/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.h1styling {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
} */
/* Add this CSS to your component's stylesheet */
.images img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.textLeft {
  text-align: left;
}

.stats {
  margin-top: 10px;
}

.stats .d-flex {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.number1,
.number2,
.number3 {
  font-weight: bold;
}

.row.text-center {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.col-md-4 {
  flex-basis: calc(33.33% - 30px); /* Adjust this to change the spacing between boxes */
  margin-bottom: 20px;
}

/* Small screens */
@media (max-width: 768px) {
  .col-md-4 {
    flex-basis: calc(50% - 20px); /* Display two boxes per row on small screens */
  }
}
